body{
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.item{
    padding: 10px;
    grid-row: span 2;
}

.item-1{
    grid-column: col-start / span 5;
}

.item-2{
    grid-column: col-start 6 / span 3;
}

.item-3{
    grid-column: col-start 9 / span 3;
    grid-row: span 6;
}

.item-4{
    grid-column: col-start / span 3;
}

.item-5{
    grid-column: col-start 4 / span 5;
}

@media (min-width: 375px){
    .container{
        display: flex;
        flex-direction:column;
    }
}

@media (min-width: 1024px){
    .container{
        display: grid;
        grid-template-rows: repeat(2, [col-start] 1fr);
        grid-template-columns: repeat(12, [col-start] 1fr);
        gap: 20px;
        width: 80%;
        margin: auto;   
    }
}